.page_content{
    .search_header{
        display: flex;
        flex-wrap: wrap;
        .header_summary{
            flex: 0 0 100%;
            display: flex;
            flex-wrap: wrap;
            .search_title{
                display: block;
                flex: 0 0 100%;
                padding: 0 10px;
                small{
                    display: block;
                    font-size: 14px;
                }
            }
            .results{
                display: flex;
                margin: 0 auto;
                padding: 0 10px;
                flex: 0 0 100%;
            >span, >a {
                border: solid #000 1px;
                min-width: 180px;
                flex: 1 1 0%;
                padding: 0 10px;
                text-align: center;
                line-height: 48px;
            }
        }
        }
        .header_sort{
            flex: 0 0 100%;
            display: flex;
            padding: 0 10px;
            margin-top: 6px;
            select{
                flex: 0 0 100%;
                min-width: 260px;
                height: 50px;
                padding: 10px
            }
        }

    }
}