.search_results{
    display: flex;
    .property_info__buttons{
      display: flex;
      .btn{
        font-size: 0.8rem;
        flex: 1 1 0%;
        margin: 0 3px;
      }
    }
}
.property_results {
  display: flex;
  .property_results__property {
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    .property__info_section{
        display: flex;
        flex: 1 1 0%;
        width: 100%;
        .property_info__header {
            display: flex;
            flex: 1 1 0%;
            width: 100%;
            .property_info__header_right {
                display: block;
                width: 48px;
                span {
                  min-width: 30px;
                  margin-left: 10px;
                  flex: 1 1 100%;
                  display: block;
                }
              }
        }
    }
  }
}

.results_list {
  width: 100%;
  .property_results__property {
    .property_img {
      display: flex;
      flex-direction: column;


      .property_img__main {
        display: block;
        img {
          width: 100%;
        }
      }
      .propert_img__additional {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 -2.5px 10px;
        .additional_img {
          flex: 1 1 0%;
          min-width: 94px;
          max-width: 50%;
          overflow: hidden;
          padding: 5px 2.5px 0;
          margin: 0;
          display: block;
          
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
    .property__info_section {
      flex-direction: column;
      padding-left: 20px;
      .property_info__header {
        .property_info__header_left {
          display: block;
          flex: 1 1 0%;
        }
      }
      .property_info__address {
        display: block;
      }
    }
    .img_button> .btn{
      display: block;
      margin: 0;
    }
    .property_footer {
      display: flex;
      min-width: 100%;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
      .ref {
        margin-left: 20px;
      }
    }
  }
}

.results_grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .property_results__property{
        min-width: 260px;
        flex-direction: column;
        padding: 10px;
        margin: 0 10px 10px;
    .property_img {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin-bottom: 10px;

      .property_img__main {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    .property__info_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0x;
        .property_info__header_left{
            flex: 1 1 0%;
        }
    }
    .propert_img__additional {
      display: none;
    }
    .property_info__description, .property_info__features, .img_button {
      display: none;
    }
      .btn_floorplan{
        display: none;
      }
    
}
  }

  //all
  @include media-breakpoint-up(xs) {
  }
  // for tab and desktop
  @include media-breakpoint-up(md) {

  }
  // desktop
  @include media-breakpoint-up(lg) {
    .results_list {
      max-width: 66.6667%;

      .property_results__property {
        .property_img {
          max-width: 37%;
        }
      }
    }
    .results_grid{
        max-width: 66.67%;
        .property_results__property{
            max-width: 33.33%;
        }
    }
    .search_results_map{
        width: 100%;
        max-width: 33.33%;
        flex: 0 0 33.33%;
        margin: 0 10px;
        border: solid 1px #000;
        padding: 20px;
        iframe{
            width: 100%;
        }

    }
  }

  // responsive only
  @include media-breakpoint-down(md) {
    .results_list {
      .property_results__property {
        max-width: 50%;
        .property_img {
          max-width: 230px;
        }
        .property__info_section {
          max-width: calc(100% - 230px);
        }
      }
    }
    .search_results_map{
        display: none;
    }
  }
  //mobile only
  @include media-breakpoint-down(sm) {
    .results_list {
      display: none;
    }
}

@include media-breakpoint-only(xs) {
}
@include media-breakpoint-only(sm) {
}
@include media-breakpoint-only(md) {
}
@include media-breakpoint-only(lg) {
}
@include media-breakpoint-only(xl) {
}
