.page_content {
  .search_header {
    @include media-breakpoint-down(sm) {
      .search_header__summary {
        display: flex;
        flex: 0 0 100%;
        .summary__title {
          flex: 0 0 100%;
          display: block;
        }
        .summary__results {
            display: flex;
            width: 100%;
          > span,
          > a {
              display: block;
              flex: 1 1 0%;
              padding: 0 10px;

          }
        }
      }
      .search_header__results_display {
          flex: 0 0 100%;
      .search_results{
          padding: 0 10px;
      }
          .display__sort {
        flex: 0 0 100%;
      }
      .display__results_view {
        display: none;
      }
    }
    }

    @include media-breakpoint-between(sm,xl) {
      .search_header__summary {
        flex: 0 0 58.3333%;
        display: flex;
        flex-wrap: wrap;
        .summary__title, .summary__results{
            display: block;
            width: 100%;
        }
      }
      .search_header__results_display {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 41.667%;
        .display__results_view {
          display: block;
          flex: 0 0 100%;
          text-align: right;
          .desktop { 
            display: none;
          }
        }
        .display__sort {
          flex: 0 0 100%;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      .search_header__summary {
        flex: 0 0 58.3333%;
        display: flex;
        .summary__title,
        .summary__results {
            display: block;
          flex: 0 0 50%;
        }
      }
      .search_header__results_display {
        flex: 0 0 41.6667%;
        .display__sort,
        .display__results_view {
          display: inline-block;
          flex: 0 0 50%;
        }
      }
    }
    padding: 25px 0 20px;
    display: flex;
    flex-wrap: wrap;
    .search_header__summary {
      display: flex;
      flex-wrap: wrap;
      .summary__title {
        padding: 0 10px;
        small {
          display: block;
          font-size: 14px;
        }
      }
      .summary__results {
          padding: 0 10px;
        > span,
        > a {
          display: inline-block;
          border: solid #000 1px;
          text-align: center;
          line-height: 48px;
          padding: 0 10px;
        }
      }
    }
    .search_header__results_display {
      display: flex;
      flex-wrap: wrap;
      padding: 0 10px;
      margin-top: 6px;
      .display__sort {
        select {
          min-width: 260px;
          height: 50px;
          padding: 10px;
          width: 100%;
        }
      }
      .display__results_view {
        min-width: 220px;
        margin-top: 0;
        text-align: right;
        label {
          height: 50px;
          width: 50px;
          margin: 0 2.5px;
          text-align: center;
          line-height: 48px;
          min-width: 50px;
        }
      }
    }
  }
}
