.search_results {
  display: flex;
  .property {
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    .info_section{
        display: flex;
        flex: 1 1 0%;
        width: 100%;
        .info_header {
            display: flex;
            flex: 1 1 0%;
            width: 100%;
            .info_header_right {
                display: block;
                width: 48px;
                span {
                  min-width: 30px;
                  margin-left: 10px;
                  flex: 1 1 100%;
                  display: block;
                }
              }
        }
    }
  }
}

.results_list {
  width: 100%;
  .property {
    .img_section {
      display: flex;
      flex-direction: column;

      .main_img {
        display: block;
        img {
          width: 100%;
        }
      }
      .additional_img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .img {
          min-width: 94px;
          max-width: 50%;
          height: 80px;
          overflow: hidden;
          padding: 5px 2.5px 0;
          img {
            width: 100%;
          }
        }
      }
    }
    .info_section {
      flex-direction: column;
      padding-left: 20px;
      .info_header {
        .info_header_left {
          display: block;
          flex: 1 1 0%;
        }
      }
      .info_address {
        display: block;
      }
    }
    .footer_section {
      display: flex;
      min-width: 100%;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
      .ref {
        margin-left: 20px;
      }
    }
  }
}

.results_grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .property{
        min-width: 260px;
        flex-direction: column;
        padding: 10px;
        margin: 0 10px 10px;
    .img_section {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin-bottom: 10px;

      .main_img {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    .info_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0x;
        .info_header_left{
            flex: 1 1 0%;
        }
    }
    .additional_img {
      display: none;
    }
    .info_description, .info_features, .img_button {
      display: none;
    }
}
  }
  //all
  @include media-breakpoint-up(xs) {
  }
  // for tab and desktop
  @include media-breakpoint-up(md) {
  }
  // desktop
  @include media-breakpoint-up(lg) {
    .results_list {
      max-width: 66.6667%;

      .property {
        .img_section {
          max-width: 37%;
        }
      }
    }
    .results_grid{
        max-width: 66.67%;
        .property{
            max-width: 33.33%;
        }
    }
  }

  // responsive only
  @include media-breakpoint-down(md) {
    .results_list {
      .property {
        max-width: 50%;
        .img_section {
          max-width: 230px;
        }
        .info_section {
          max-width: calc(100% - 230px);
        }
      }
    }
  }
  //mobile only
  @include media-breakpoint-down(sm) {
    .results_list {
      display: none;
    }
}

@include media-breakpoint-only(xs) {
}
@include media-breakpoint-only(sm) {
}
@include media-breakpoint-only(md) {
}
@include media-breakpoint-only(lg) {
}
@include media-breakpoint-only(xl) {
}
