.header_content {
  .header_content__pane {
    border-radius: 30px;
  }
}
.header_content__image {
  @include media-breakpoint-up(sm) {
    height: 730px !important;
  }
  .header_image__overlay_1 > li {
    margin-bottom: 200px;
  }
  .header_image__overlay_1,
  .header_image__overlay_2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li {
      padding: 2.5px 1px;
      $items: 36;
      $item-width: (2px * $items);
      $margin: calc(((100% / #{$items}) - 6px) / 2);
      position: relative;
      animation-iteration-count: infinite;
      animation-direction: normal;
      margin-left: $margin;
      margin-right: $margin;
      display: inline;

      animation-duration: 70s;
      &:nth-child(3n) {
        background: red;
      }
      &:nth-child(3n + 1) {
        background: green;
      }
      &:nth-child(3n + 2) {
        background: blue;
      }
      &:nth-child(4n) {
        animation-name: house;
        @keyframes house {
          0% {
            top: 0px;
          }
          100% {
            top: 200px;
          }
        }
        transform: rotate(45deg);
      }
      &:nth-child(4n + 1) {
        animation-name: house2;
        @keyframes house2 {
          0% {
            top: 150px;
          }
          100% {
            top: 300px;
          }
        }
        transform: rotate(80deg);
      }
      &:nth-child(4n + 2) {
        animation-name: house3;
        @keyframes house3 {
          0% {
            top: 100px;
          }
          100% {
            top: 320px;
          }
        }
        transform: rotate(110deg);
      }
      &:nth-child(4n + 3) {
        animation-name: house4;
        @keyframes house4 {
          0% {
            top: 50px;
          }
          100% {
            top: 250px;
          }
        }
        transform: rotate(90deg);
      }

      // &::before{
      // content: "\f015";
      // font-family: "Font Awesome 5 Free";
      // font-weight: 900;
      // font-size: 24px;
      // color: rgba($color: #000, $alpha: 0.6);
      // }
    }
  }
}
.property_search {
  width: 65%;
  position: absolute;
  margin: -300px 17.5% 0;
  border-radius: 20px;
  .container {
    width: 100%;
    padding: 20px;
  }
  .search__sale_type {
    min-width: 300px;
  }
  .location_radius__location {
    min-width: 300px;
  }
  .form_group {
    margin: 10px 0 !important;
  }
}

.animated_text {
  padding: 20px 0;
  display: flex;
  .card {
    position: relative;
    flex: 1 1 0%;
    margin: 0 10px;
    text-align: center;
    font-size: 2em;
    background-color: transparent;
    perspective: 1000px;

    &:hover .card__inner {
      transform: rotateX(180deg);
    }

    .card__inner {

      position: relative;
      width: 100%;
      height: 55px;
      border: solid $secondary 2px;
      border-radius: 10px;
      text-align: center;
      transition: transform;
      transition-duration: 0.8s;
      transition-timing-function: ease-in-out;
      transform-style: preserve-3d;

      .card__front,
      .card__back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      .card__front {
        font-weight: 400;
        color: #000;
        text-shadow: 2px 2px $secondary;
        text-transform: capitalize;
      }
      .card__back {
        color: #000;
        padding: 10px;
        font-size: 0.6em;
        transform: rotateX(180deg);
      }
    }
  }
}

.widget_image {
  &:hover {
    img {
      box-shadow: 5px 5px 2px #ccc;
    }
  }
}
