@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/carousel';

@import '../../../node_modules/bootstrap/scss/reboot';
@import '../../../node_modules/bootstrap/scss/root';
@import '../../../node_modules/bootstrap/scss/transitions';
@import '../../../node_modules/bootstrap/scss/navbar';
// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body{
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

button{
    text-align: center;
}

.btn_group{
    justify-content: center;
    padding: 10px;
}
.btn{
    border: solid black 1px;  
    line-height: 20px;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px 10px 10px;
}

.container{
    margin: 0 auto;
    @include media-breakpoint-up(sm){
        width: 720px;
    }
    @include media-breakpoint-up(md){
        width: 980px;
    }
    @include media-breakpoint-up(lg){
        width: 1380px;
    }
}

a:hover{
    text-decoration: none;
}


