@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/variables';

@import '../../../node_modules/bootstrap/scss/reboot';
@import '../../../node_modules/bootstrap/scss/root';
@import '../../../node_modules/bootstrap/scss/transitions';
@import '../../../node_modules/bootstrap/scss/navbar';
// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body{
    font-family: "helvetica neue",helvetica,arial,sans-serif;
}

button{
    text-align: center;
}

.container{
    margin: 0 auto;
    @include media-breakpoint-up(md){
        width: 720px;
    }
    @include media-breakpoint-up(lg){
        width: 980px;
    }
    @include media-breakpoint-up(xl){
        width: 1380px;
    }
}