.image_widget{
    .widget__pre_text{
        display: block;
        text-align: center;
        margin: 16px 0 40px;
    }
    .row{
        display: flex;
    }
    .widget_image{
        flex: 0 0 33.3%;
        padding: 0 10px;
        text-align: center;
        img{
            width: 100%;
        }
        a{
            text-decoration: none;
            p{
                color: #000
            }
        }
    }
}