nav{
    li{
        list-style-type: none;
        a{
            font-size: 14px;
            padding: 0 20px;
        }
        a:hover{
            box-shadow: none;
            text-decoration: none;
            outline: none;
        }
    }
}