.property_search{
    $element-height: 50px;
    form{
        label, select, label{
            height: $element-height;
            padding: 10px;
        }
        .field_select{
            position: relative;	
            select{
                width:100%;
                margin-right: 10px;
            }
            &:after{
                content: "\25bc";
                position: absolute;
                top: 12px;
                right: 5px;
                color: #434B67;
            }
        select{
            -webkit-appearance: none;
        }
    }

    .form_group{
        display: flex;
        margin-bottom: 15px;
        padding: 0 5px;
        @include media-breakpoint-down(sm){
            width: 100%;
            white-space: nowrap;
        }

    }
    .btn_group{
        width: 100%;

        label{
            background: #ddd;
            text-align: center;
            // margin:0 -3px;
            @include media-breakpoint-down(sm){
                white-space: normal;
                width: 50%;
            }
        }
        label:hover{
            background: #ffffff;
        }
        label.active span{
            border-bottom: 2px solid black;
        }
    }
    .location{
        input{
            display: inline-block;
            flex-grow: 1;
        }
        .field_select{
            max-width: 115px;
        }


    }
    .price{
        .field_select{
            flex-grow: 1;
            height: $element-height;
        }
    }
    .bedroom{
        .field_select{
            display: inline-block;
            flex-grow: 1;
        }
    }

    }
}