.property_search{
    .container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        >div{
            border: 1px sold black;
            padding: 0 5px;
        }
        .sale_type{
            flex-grow: 1;
            flex-shrink: 1;
        }
        .location_radius{
            flex-grow: 1;
            flex-shrink: 1;
            .location{
                flex: 1 1 0%;
                input{
                    width: 100%;
                    height: 50px;
                }
            }
            .radius{
                width: 130px;
                select{
                    width: 100%;
                }
            }
        }
        .property_price{
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            >div{
                flex: 1 1 0%;
                select{
                    width: 100%;
                }
            }
        }
        .bedrooms{
            flex-grow: 1;
            flex-shrink: 1;
            select{
                width: 100%;
            }
        }
        .sale_agreed, .new_build, .chain_free{
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 18%;
            input{
                 width: 20px;
            }
        }
        .btn_group{
            flex-grow: 1;
            flex-shrink: 1;   
            text-align: center;         
            .btn{
                width: 100%;
                height: 50px;
                white-space: normal;
                padding: 15px 10px;
                text-decoration: none;
                margin: 0;
            }
        }
        .btn_group{
            display: flex;
            label{
                min-width: 50px;
                flex: 1 1 0%;
            }

        }
        .form_group {
            display: flex;
            margin-bottom: 15px;
            height: 50px;
            padding: 0 5px;
            .btn {
              position: relative;
            }
            span,
            input {
              line-height: 50px;
            }
            select {
              height: 50px;
            }
            .selected {
              background: #ddd;
            }
          }
          .field_boolean{
              display: flex;
              align-items: center;
          }
          label {
            display: inline-block;
            text-align: center;
            padding: 0 2.5px;
            span{
                display: inline-block;
            }
          }
          

    }


    @include media-breakpoint-down(sm){
        .container{
            .form_group{
                min-width: 100%;
            }
            .btn_group{
                margin-left: 0;
                flex: 1 1 50%;
                text-align: center;
            }
            .desktop{
                display: none;
            }
        }
    }
    @include media-breakpoint-between(md,lg){
        .container{
            .sale_type{
                flex: 1 1 33%;
            }
            .location_radius{
                flex: 1 1 66.66%;
            }
            .property_price{
                flex: 1 1 50%;
            }
            .bedrooms{
                flex: 1 1 50%;
            }
            .sale_agreed, .new_build, .chain_free{
                flex: 1 1 33.33%;
            }
            .btn_group{
                flex: 1 1 50%;
            }
            .desktop{
                display: none;
            }
        }
    }
}

.search_results{
    .sale_type{
        flex-basis: 18%;
    }

    .location_radius{
        flex-basis: 40%;
    }
    .property_price{
        flex-basis: 22%;
    }
    .bedrooms{
        flex-basis: 18%;
    }
    .btn_group{
        flex-basis: 18%;;
        margin-left: 385px;
        width: 149px;
    }
}

.landing_search{
    .sale_type{
        flex-basis: 17%;;
    }
    .location_radius{
        flex-basis: 29%;;
    }
    .property_price{
        flex-basis: 22%;;
    }
    .bedrooms{
        flex-basis: 17%;
    }
    .btn_group{
        flex-basis: 15%;
    }
}