.property_search{
    $element-height: 50px;
    form{
    .form_group{
        display: flex;
        margin-bottom: 15px;
        padding: 0 5px;
        @include media-breakpoint-down(sm){
            width: 100%;
            white-space: nowrap;
        }

    }
    .btn_group{
        width: 100%;

        label{
            height: $element-height;
            background: #ddd;
            text-align: center;
            padding-top: 10px;
            // margin:0 -3px;
            @include media-breakpoint-down(sm){
                white-space: normal;
                width: 50%;
            }
        }
        label:hover{
            background: #ffffff;
        }
        label.active span{
            border-bottom: 2px solid black;
        }
    }
    .location{
        input{
            height: $element-height;
            display: inline-block;
            flex-grow: 1;
            padding: 10px;
        }
        select{
            max-width: 115px;
            padding: 10px;
            height: $element-height;

        }


    }

    
    }
}