.property_search{
    margin: 0 auto;
    .container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        input, select{
            border: none;
        }
        >div{
            border: 1px sold black;
            padding: 0 5px;
        }
        .search__sale_type{
            flex-grow: 1;
            flex-shrink: 1;
            label{
                margin: 0;
                padding: 0 2.5px;
            }
        }
        .search__location_radius{
            flex-grow: 1;
            flex-shrink: 1;
            .location_radius__location{
                flex: 1 1 0%;
                input{
                    width: 100%;
                    height: 50px;
                }
            }
            .location_radius__radius{
                width: 130px;
                select{
                    width: 100%;
                }
            }
        }
        .search__property_price{
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            >div{
                flex: 1 1 0%;
                select{
                    width: 100%;
                }
            }
        }
        .search__bedrooms{
            flex-grow: 1;
            flex-shrink: 1;
            select{
                width: 100%;
            }
        }
        .search__sale_agreed, .search__new_build, .search__chain_free{
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 18%;
            span{
                font-size: 16px;
                font-weight: 500;
            }
            input{
                 width: 20px;
                 font-size: 16px;
                 -webkit-appearance: checkbox;
            }
        }
        .btn_group{
            flex-grow: 1;
            flex-shrink: 1;   
            text-align: center;         
            .btn{
                width: 100%;
                height: 50px;
                white-space: normal;
                padding: 15px 10px;
                text-decoration: none;
                margin: 0;
            }
        }
        .btn_group{
            display: flex;
            label{
                min-width: 50px;
                flex: 1 1 0%;
            }

        }
        .form_group {
            display: flex;
            margin-bottom: 15px;
            height: 50px;
            padding: 0 5px;
            .btn {
              position: relative;
            }
            span,
            input {
              line-height: 50px;
            }
            select {
              height: 50px;
            }
            .selected {
              background: #ddd;
            }
          }
          .field_boolean{
              display: flex;
              align-items: center;
          }
          label {
            display: inline-block;
            text-align: center;
            padding: 0 2.5px;
            span{
                display: inline-block;
            }
          }
          

    }


    @include media-breakpoint-down(sm){
        .container{
            .form_group{
                min-width: 100%;
            }
            .btn_group{
                margin-left: 0;
                flex: 1 1 50%;
                text-align: center;
            }
            .desktop{
                display: none;
            }
        }
    }
    @include media-breakpoint-between(md,lg){
        .container{
            .search__sale_type{
                flex: 1 1 33%;
            }
            .search__location_radius{
                flex: 1 1 66.66%;
            }
            .search__property_price{
                flex: 1 1 50%;
            }
            .search__bedrooms{
                flex: 1 1 50%;
            }
            .search__sale_agreed, .search__new_build, .search__chain_free{
                flex: 1 1 33.33%;
            }
            .btn_group{
                flex: 1 1 50%;
            }
            .desktop{
                display: none;
            }
        }
    }
}

.results_search{
    padding: 15px 2.5px 0;
    .search__sale_type{
        flex-basis: 18%;
    }

    .search__location_radius{
        flex-basis: 40%;
    }
    .search__property_price{
        flex-basis: 22%;
    }
    .search__bedrooms{
        flex-basis: 18%;
    }
}

.landing_search{
    padding: 20px 0;
    .search__sale_type{
        flex-basis: 17%;;
    }
    .search__location_radius{
        flex-basis: 29%;;
    }
    .search__property_price{
        flex-basis: 22%;;
    }
    .search__bedrooms{
        flex-basis: 17%;
    }
    .btn_group{
        flex-basis: 15%;
    }
}