@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/variables';

$primary: #9a1c2a;
$secondary: #000b2b;
$tertiary: #2996c6;
