.property_search{
    background: $tertiary;
    .search__sale_type{
        color: #fff;
        .active{
            background: $primary;
        }
        label{
            background: #002591;
        }
    }
    .search__advanced_btn>.btn{
        border: none;
        background:  $secondary;
        &:hover{
            background: darken($secondary , 5%);
        }
    }

}

.results_search{
    background: $quaternary;
}