.search_results{
    border-bottom: $tertiary solid 2px;
    .search_header{
        .search_title{
            font-size: 2rem;;
            small{
                font-size: 14px;
            }
        }
        .results{
            font-size: 16px;
            .property_counter{
                font-weight: 700;
            }
            >a{
                color: #000;
            }
        }
        .header_results_display{
            .result_view{
                label{
                    background: $secondary;
                    &:hover{
                        background: $primary;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}