.search_results{
        margin: 20px 0;
    .property_results__property{
        border: solid 1px $secondary;
        padding: 10px;
        .property_info__header_left{
            font-size: 16px;
            p{
                font-weight: 700;
            }
            h2{
                font-weight: 400;
                line-height: 22.4px;
            }
            h3{
                font-size: 32px;
                font-weight: 600;
                color: $tertiary;
            }
        }
        .property_info__address > p{
            font-size: 16px;
            font-weight: 600;
        }
        .property_info__description{
            font-size: 14px;
        }
        .property_info__features{
            span{
                font-size: 16px;
                font-weight: 600;
            }
            ul{
                padding: 0;
                list-style-type: disc;
                column-count: 2;
                li{
                    list-style-position: inside;

                }
            }
        }
        .property_info__buttons{
            .btn{
            border: none;
            background: $secondary;
            color: #000;
            &:hover{
                text-decoration: none;
            }
        }
        }
        .img_button{
            border: $tertiary 1px solid;
            .btn{
                color: #000;
            &:hover{
                text-decoration: none;
            }
        }
        }
        .property_footer{
            background: $secondary;
            padding: 10px;
            margin-top: 10px;
            .contact, .ref{
                font-size: 15px;
                font-weight: 400;
            }
            .contact{
                a{
                    font-size: 15px;
                    font-weight: 700;
                    color: #000;
                }
            }
            .ref{
                span{
                    font-size: 15px;
                    font-weight: 700;
                    color: #000;
                }
            }
        }
    }
    .search_results_map{
        
        border: solid #cccccc 1px;
    }
}