/* Error: Undefined mixin.
 *    ,
 * 10 | /     @include media-breakpoint-up(md){
 * 11 | |         width: 720px;
 * 12 | \     }
 *    '
 *   src\core\scss\_base.scss 10:5  @import
 *   src\core\scss\style.scss 1:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c      @include media-breakpoint-up(md){\a 11 \2502  \2502          width: 720px;\a 12 \2502  \2514      }\a    \2575 \a   src\\core\\scss\\_base.scss 10:5  @import\a   src\\core\\scss\\style.scss 1:9   root stylesheet";
}
